
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Jost", sans-serif;
}



/*INIZIO MENU*/
a{
    color:white;
}


.header{
    background-color: rgb(31, 110, 104);
    box-shadow: 1px 1px 4px 0 rgba(31, 110, 104, .1);
    position:fixed;
    width:100%;
    z-index:1 ;
}


.header ul{
    padding:0;
    margin:0;
    list-style: none;
    overflow: hidden;
    background-color: rgb(31, 110, 104);
}

.header ul a{
    display: block;
    padding: 20px;
    text-decoration: none;

}

.header ul a:hover{
    background-color: rgb(79, 148, 142);

}

.header .Nome{
    float: left;
    font-size:20px;
    color:white;
    text-decoration: none;
    padding: 15px 20px;

}

.header .menu{
    clear:both;
    max-height: 0;
    transition: max-heigth .2s ease-out;
}


.header .menu-icon{
    padding:28px 20px;
    position:relative;
    float:right;
    cursor:pointer;
}


.header .menu-icon .nav-icon{
    background-color: white;
    display: block;
    width:18px;
    height: 2px;
    position:relative;
    transition: background-color .2s ease-out;
    border-radius: 5px;
}

.header .menu-icon .nav-icon::before,
.header .menu-icon .nav-icon::after{
    background-color: white;
    content: "";
    display: block;
    height: 100%;
    width:100%;
    transition:all .2s ease-out;
    position: absolute;
   
}

.header .menu-icon .nav-icon::after{
    top:-5px;

}


.header .menu-icon .nav-icon::before{
    top:5px;

}


.header .menu-btn{
    display: none;
}


.header .menu-btn:checked ~ .menu{
    max-height:240px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon{
    background-color: transparent;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon::before{
    transform: rotate(-45deg);
    top:0;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon::after{
    transform: rotate(45deg);
    top:0;
   
}

/*FINE MENU*/

/*INIZIO MAIN*/

.main{
    
    padding-left:20px;
    padding-right:20px;

}

/*INIZIO PRESENTAZIONE*/

.presentazione{
    display:inline-block;
    padding:50px 0 50px 0;
}


.Photo{
     width:70%;
     margin:auto;
     
}
 
.Photo img{
     width:100%;
     border: 2px;
     margin-top: 30px;
     margin-bottom: 30px;
 
}
 
.intro{
     width:80%;
     margin:auto;
     text-align: center;
     
}
 
.intro h1{
     font-size:40px;
     font-weight: 300;
     margin-top:20px;
     margin-bottom: 20px;
     text-align:left;
}
 
.intro p{
     font-size:20px;
     margin-bottom: 20px;
     text-align: left;
}

.intro p a {
    color: black;
}
 
.intro button{
     background-color:rgb(31, 110, 104);
     color:white;
     font-size:20px;
     padding:20px;
     margin-top:20px;
     margin-bottom: 20px;
     border-radius:20px;
     border:none;
     float:left; 
}

.intro button:hover{
    background-color:rgb(15, 75, 70);
}

.intro button a {
    text-decoration: none;
}

/*FINE PRESENTAZIONE*/


/*INIZIO PROGETTI*/

.project-container{
    background-color: #F2E6DF;
    border-radius: 30px;
    padding: 40px;
    margin-bottom:20px;
}


.project-container .title-section{
    font-size: 30px;
    font-weight: 400;
}


.albums{
    height:calc(100% / 5 - 20px);
    margin-top: 20px;
}

.album{
    margin: 20px 0 40px 0;
}

.album-image img{
    width: 100%;
    border-radius: 20px;
}

.album-title{
    font-size: 20px;
    margin: 10px 0 10px 0;
}

.album-subtitle{
    font-size: 15px;
    font-weight: 700;
    margin: 10px 0 10px 0;
}


.album-description{
    margin: 10px 0 10px 0;

}

.subtitle-section {
    color: black;
}

.button-project {
    background-color: rgb(31, 110, 104);
    color: white;
    font-size: 15px;
    font-weight: 500;
    padding: 20px;
    border: none;
    border-radius: 20px;
    margin:10px 0 0 0;
}

.button-project:hover {
    background-color:rgb(15, 75, 70);
}


.button-project a {
    text-decoration: none;
}

/*FINE PROGETTI*/


/*INIZIO FORMAZIONE*/

.training{
    border-radius: 30px;
    display: block;
    padding: 60px;
}

.text-training .title-section{
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 30px;
}

.text-training  ul li{
    padding-bottom: 40px;
    color:#1f6e68;
    list-style-type:circle;
    font-size: 30px;
    
}

.text-training  ul li span{
    padding-bottom: 40px;
    color:black
}

.text-training ul li h1{
    font-size: 25px;
    font-weight: 400;
}

.text-training ul li h2{
    font-size: 20px;
}


.text-training ul li p{
    font-size: 17px;
}

.text-training {
    width:100%;
    
}


/*INIZIO SKILLS*/

.tools .img-programm{
    width: 50px;
}

.tools .title-section{
    margin-bottom: 30px;
    font-size:30px;
    font-weight: 400;
}

.tools{
    padding: 30px 30px 30px 0;
}

/*FINE FORMAZIONE*/



/*INIZIO FORM CONTATTI*/

.contatti{
    
    background-color: #F2E6DF;
    margin-bottom:20px;
    border-radius: 30px;
}

.contatti img{
    width:40px;
    margin: 10px 60px 0 60px;
}


.contatti .title-contact{
    padding: 40px 40px 0 40px;
    font-size: 30px;
    font-weight:400 ;
}

.subtitle-contact{
    padding: 0 40px 0 40px;
    font-size: 20px;
    font-weight:400 ;
}

.button-page-form{
    background-color: rgb(31, 110, 104);
    color: white;
    font-size: 15px;
    font-weight: 500;
    padding: 20px;
    border: none;
    border-radius: 20px;
    margin: 40px 40px 40px 40px;
}

.button-page-form:hover {
    background-color:rgb(15, 75, 70);
}

.button-page-form a{
    text-decoration: none;
}

/*FINE FORM CONTATTI*/

/*INIZIO FOOTER*/

footer{
    margin-top: 70px;
    background-color: rgb(31, 110, 104);
    display:flex;
    justify-content: center;
}

footer h1{
    margin: 20px;
    font-size: 20px;
    font-weight: 200;
    color: white;
}

.img-footer{
    justify-content: right;
}

.img-footer img{
    width:30px;
    margin:20px;
    
}

/*FINE FOOTER*/


/*MEDIA QUERY TABLET*/
@media (min-width:640px) and (max-width:1024px){

    /*INIZIO MENU*/
    .header li {
        float:left;
    }

    .header li a{
        padding:20px 20px;
        font-size: 15px;
    }
    
    .header .menu{
        clear:none;
        float:right;
        max-height: none;
        padding:20px 80px 20px 0;
    }

    .header .menu-icon{
        display: none;
    }

    .header .Nome{
        padding:25px 0 20px 80px;
        font-size:30px;
    }

    /*FINE MENU*/


    /*INIZIO MAIN*/

    .main{
        padding-left:60px;
        padding-right:60px;
    }


    /*INIZIO PRESENTAZIONE*/
    
    .presentazione{
        padding: 150px 0 50px 0;
    }
    
    .Photo{
        text-align: center;
    }
    
    .Photo img{
        width:70%;
        margin-bottom: 50px;    
    }
    
    .intro{
        width:100%;
        margin:0 20px 0 20px;
    }
    
    .intro h1{
        font-size:40px;
        margin-top:20px;
        margin-bottom: 10px;
    }
    
    .intro p{
        font-size:20px;
        margin-bottom: 10px;
        margin-right:50px;
    }
    
    .intro button{
        font-size:20px;
        padding:20px;
        margin: 10px 0 10px 0;

    }

    /*FINE PRESENTAZIONE*/



    /*INIZIO PROGETTI*/  

    .title-section{
        font-size: 40px;
    
    }

    .albums{
        height:1400px;
    }
    
    .album{
        width: calc(100% / 2 - 20px);
        height: 430px;
        margin: 10px 10px 40px 10px;
        float: left;
        position: relative;
    }
    
    .album-image img{
        width: 100%;
    }
    
    .album-title{
        font-size: 20px;
        margin: 10px 0 10px 0;
    }

    .button-project{
        position: absolute;
        bottom:0;
    }

    /*FINE PROGETTI*/

    
    /*INIZIO FORMAZIONE*/
    
    .training{
        border-radius: 30px;
        justify-content:space-between;
        margin-bottom: 50px;
    
    }
    
    .text-training p {
        font-size: 20px;
        margin:10px;
    }
    
    
    .tools .img-programm{
        width:80px;
    }
    
    /*FINE FORMAZIONE*/

}

/*FINE MEDIA QUERY TABLET*/



/*INIZIO MEDIA QUERY PC*/

@media(min-width:1024px){

    /*INIZIO MENU*/

    .header li {
        float:left;
    }

    .header li a{
        padding:20px 30px;
        font-size: 20px;
    }
    
    .header .menu{
        clear:none;
        float:right;
        max-height: none;
        padding:20px 200px 20px 0;
    }

    .header .menu-icon{
        display: none;
    }

    .header .Nome{
        padding:20px 0 20px 200px;
        font-size:40px;
    }

    /*FINE MENU*/


    /*INIZIO MAIN*/

    .main{
        padding-left:200px;
        padding-right:200px;
    
    }

    /*INIZIO PRESENTAZIONE*/
    
    .presentazione{
        padding: 150px 0 50px 0;
        display:flex;
    }
    
    .Photo{
        width:40%;
    }
    
    .Photo img{
        width:80%;
        display: block;
        margin:auto;
        margin-top: 20px;
        margin-bottom: 20px;    
    }
    
    .intro{
        width:60%;
    }
    
    .intro h1{
        font-size:50px;
        margin-top:20px;
        margin-bottom:20px;
        text-align: left;
    }
    
    .intro p{
        font-size:20px;
        margin-bottom: 10px;
        margin-right:50px;
    }
    
    .intro button{
        font-size:20px;
        padding:20px;
        float:left;

    }

    /*FINE PRESENTAZIONE*/


    /*INIZIO PROGETTI*/   
    
    .albums{
        height:450px;
        
    }
    
    .album{
        width: calc(100% / 5 - 20px);
        height: 400px;
        margin: 10px;
        float: left;
        position: relative;
        
    }
    
    .album-image img{
        width: 100%;
    }
    
    .album-title{
        font-size: 20px;
        margin: 10px 0 10px 0;
    }

    .button-project{
        position: absolute;
        bottom:0;
    }

    /*FINE PROGETTI*/   


    /*INIZIO FORMAZIONE*/       

    .training{
        display:flex;
        justify-content:space-between;
    }
    
    .text-training p {
        font-size: 20px;
        margin:10px;
    }
    
    .img-tools{
        display: flex;
        flex-direction:column;
    }
    
    
    .tools .img-programm{
        width:80px;
        margin-bottom: 10px;
    }
    .tools{
        padding: 0 60px 60px 0;
    }

    /*FINE FORMAZIONE*/   
  
}

 /*FINE MEDIA QUERY PC*/   
