*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Comfortaa", sans-serif;
}


.header{
    background-color: rgb(31, 110, 104);
    padding:50px;
    display: flex;
    width:100%; 

}

.navbar{
    margin: auto;
    text-align: center;
    width:1000px;
    
}

a{
    text-decoration: none;
    padding-left: 100px;
}

a.Nome{
    font-size:40px;
    color:white;
}

.navbar a{
    font-size: 20px;
    color: white;
    justify-content: flex-end;
}

.container1{
    height:800px;
    display: flex;
}

.Intro{
    margin-top:200px;
    width:60%;
}



img{
    width:40%;
    border-radius:50%;
    border: 2px;
    display: block;
    margin:auto;
    margin-top: 20px;
}

.Intro h1{
    font-size:80px;
}

.Intro p{
    width:80%;
    font-size:20px;
    margin-top:50px;
    margin-right:50px;
}

.Intro button{
    background-color:rgb(31, 110, 104);
    color:white;
    margin-top: 30px;
    font-size:20px;
    padding:20px;
    border-radius:20px;
    border:none;

}