*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Comfortaa", sans-serif;
}



/* HEADER*/
.header{
    background-color: rgb(31, 110, 104);
    padding:50px;
    display: flex;
    width:100%;
    
}

.navbar{
    margin: auto;
    width:1000px;
    display:flex;
    justify-content: space-around;
    
}


a{
    text-decoration: none;
    

}

a.Nome{
    font-size:40px;
    color:white;
    margin-left:200px;
}

.navbar a{
    font-size: 20px;
    color: white;
   
}

/* FINE HEADER*/


/* MAIN*/
.main{
    padding-left:200px;
    padding-right:200px;

}

.presentazione{
    margin-top: 50px;
    margin-bottom: 50px;
    display:flex;
}

.Photo{
    width:40%;
}

.Photo img{
    width:50%;
    border-radius:50%;
    border: 2px;
    display: block;
    margin:auto;
    margin-top: 20px;
    margin-bottom: 20px;

    
}

.intro{
    width:60%;
}

.intro h1{
    font-size:80px;
    margin-top:20px;
    margin-bottom: 30px;
}

.intro p{
    font-size:20px;
    margin-bottom: 30px;
    margin-right:50px;
}

.intro button{
    background-color:rgb(31, 110, 104);
    color:white;
    font-size:20px;
    padding:30px;
    border-radius:20px;
    border:none;
}



.training{
    background-color: beige; 
    border-radius: 30px;
    display:flex;
    justify-content:space-between;
    padding: 80px;
    margin-bottom: 50px;

}

.text-project p {
    font-size: 20px;
    margin:10px;
}

li{
    margin:20px;
}


.skills .img-programm{
    width:100px;
}

.title-section{
    margin-bottom:30px;
    font-size: 40px;

}

.progetti{
    background-color: rgb(245, 211, 229);
    border-radius: 30px;
    padding: 80px;
    margin-bottom:50px;
    display:flex;

}

.progetti:after{
    clear:both;
    display:table;
    content:"";
}


.project{
    width:60%;

}

.progetto-grafica img{
    width: 100%;
}

.project-title{
    font-size: 30px;
    margin-top:20px;
    font-weight: bold;
}


.CTA button{
    margin-top:20px;
    padding:20px;
    font-size: 20px;
    background-color:rgb(31, 110, 104);
    border: none;
    border-radius: 10px;
    color: white;
}



form{
    padding-top:50px;
    padding-bottom: 50px;
    margin:auto; 
    width:1000px;
    
    
}

.contatti:after{
    clear:both;
    display:table;
    content:"";
}

.contatti{
    background-color: rgb(167, 211, 211);
    margin-bottom:20px;
    border-radius: 30px;
}

.message{
    width:100%;
}

.input-title{
    margin-bottom: 10px;
}


input,textarea{
    padding: 20px;
    border-radius: 20px;
    
}

.info input[type=text], .info input[type=email]{
    width:100%;
    font-size: 100%;
    margin-bottom: 30px;
    border:none;
    
}

.message textarea{
    width: 100%;
    height: 200px;
    font-size: 100%;
    margin-bottom: 30px;
    border:none;


}

.check{
    float:left;
}


.submit input[type=Submit]{
    width:100%;
    font-size: 100%;
    margin-top:20px;
    margin-bottom: 50px;
    border:none;

}

/* FINE MAIN*/


/* MEDIA QUERY MOBILE*/

@media (max-width: 640px) {


    .container-bars{
        display: inline-block;
        margin:auto;
        cursor: pointer;
    }
    
    .bar1, .bar2, .bar3{
        width: 35px;
        height: 5px;
        background-color: white;
        margin:6px 0;
        border-radius: 5px;
    }

    .navbar{
        display:none;
    }


    a.Nome{
        font-size:40px;
        color:white;
        margin-left:10px;
    }
    

    .list-items{
        background-color: aquamarine;
        display: block;
        
    }

    .main{
        padding-left:10px;
        padding-right:10px;
    
    }

    .presentazione{
        display:inline-block;
    }
    


    .Photo{
         width:50%;
         margin:auto;
         
     }
     
     .Photo img{
         width:100%;
         border-radius:50%;
         border: 2px;
         margin-top: 20px;
         margin-bottom: 20px;
     
         
     }
     
     .intro{
         width:80%;
         margin:auto;
         text-align: center;
         
     }
     
     .intro h1{
         font-size:50px;
         margin-top:20px;
         margin-bottom: 30px;
         text-align: center;
     }
     
     .intro p{
         font-size:20px;
         margin-bottom: 30px;
         text-align: justify;
        

     }
     
     .intro button{
         background-color:rgb(31, 110, 104);
         color:white;
         font-size:20px;
         padding:20px;
         border-radius:20px;
         border:none; 
    
     }


     .training{
        background-color: beige; 
        border-radius: 30px;
        display: block;
        padding: 80px;
        margin-bottom: 50px;
    
    }

     .progetti{
        background-color: rgb(245, 211, 229);
        border-radius: 30px;
        padding: 80px;
        margin-bottom:50px;
        display: block;    
    } 

    .project{
        margin:auto;
        width:100%;
    }
    
    .text-project {
        width:100%;
        margin-bottom:50px;
    }
    

    .text-project h1{
        margin-bottom:30px;
    }
    
    .text-project p {
        font-size: 20px;
        text-align: justify;
    }
    
    .progetto-grafica img{
        width: 100%;
    }
    
    .project-title{
        font-size: 30px;
        margin-top:20px;
        font-weight: bold;
    }
    
    
    .CTA button{
        margin-top:20px;
        padding:20px;
        font-size: 20px;
        background-color:rgb(31, 110, 104);
        border: none;
        border-radius: 10px;
        color: white;
        width:100%;
    }




    form{
        padding: 80px;
        margin:auto; 
        width:500px;
        
    }
     
}


@media (min-width: 640px) (max-width:1024px){
    
}




@media (min-width: 1024px) {

    .list-items{
        display:flex;
        flex-direction: column;
        top:80px;
    }

    .list-items a{
        display: none;
    
    }
    .list-items li{
        list-style-type: none;
    }
    
}

